*{
    margin: 0%;
    padding: 0%;
    font-family:font;
    text-align: center;
}

@font-face {
    font-family: font;
    src: url(4_0.ttf);
}

header > img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 50px 0px 50px;
    font-size: 70px;
    color: #e32524;
}

form {
    background-color: #5e5f61;
    
    margin: 0px auto;
    padding: 30px 0px 0px;
    border-radius: 80px 80px 0px 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

label {
    color: #e32524;
    font-size: 45px;
}

.text {
    height: 50px;
    width: 70%;
    text-align: center;
    font-size: 25px;
    border: 3px solid #e32524;
    border-radius: 15px;
    margin: 30px 0px 30px;
}

button {
    height: 60px;
    width: 20%;
    background-color: white;
    color: #e32524;
    border: 3px solid #e32524;
    border-radius: 15px;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    background-color: #e32524;
    padding: 8px 0px 8px;
}

footer > p {
    margin: 30px 0px;
    font-size: 40px;
    color: white;
}

@media screen and (min-width:1400px) and (max-width:1600px) {}

@media screen and (min-width:1000px) and (max-width:1399px) {

    .title {
        text-align: center;
        margin: 50px 0px 50px;
        font-size: 60px;
        color: #e32524;
    } 

    footer > p {
        margin: 30px 0px;
        font-size: 30px;
        color: white;
    }
}

@media screen and (min-width:700px) and (max-width:999px) {

    .title {
        text-align: center;
        margin: 50px 0px 50px;
        font-size: 45px;
        color: #e32524;
    } 

    label {
        color: #e32524;
        font-size: 37px;
    }

    footer > p {
        margin: 30px 0px;
        font-size: 28px;
        color: white;
    }
}

@media screen and (min-width:500px) and (max-width:700px) {

    .title {
        text-align: center;
        margin: 18px 0px 30px;
        font-size: 33px;
        color: #e32524;
    } 

    label {
        color: #e32524;
        font-size: 33px;
    }

    .text {
        height: 50px;
        width: 70%;
        text-align: center;
        font-size: 22px;
        border: 3px solid #e32524;
        border-radius: 15px;
        margin: 30px 0px 30px;
    }

    button {
        height: 60px;
        width: 35%;
        background-color: white;
        color: #e32524;
        border: 3px solid #e32524;
        border-radius: 15px;
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    footer > p {
        margin: 30px 0px;
        font-size: 23px;
        color: white;
    }
}

@media screen and (min-width:350px) and (max-width:500px) {


    .title {
        text-align: center;
        margin: 8px 0px 18px;
        font-size: 24px;
        color: #e32524;
    } 

    label {
        color: #e32524;
        font-size: 28px;
    }

    .text {
        height: 50px;
        width: 70%;
        text-align: center;
        font-size: 18px;
        border: 3px solid #e32524;
        border-radius: 15px;
        margin: 30px 0px 30px;
    }

    button {
        height: 50px;
        width: 40%;
        background-color: white;
        color: #e32524;
        border: 3px solid #e32524;
        border-radius: 15px;
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    footer > p {
        margin: 30px 0px;
        font-size: 17px;
        color: white;
    }
}